<div class="w-full flex flex-col items-center" [class.cursor-pointer]="state === 'idle'">
  <button
    [type]="type"
    [disabled]="disabled || state === 'loading' || state === 'success'"
    [ngClass]="['w-100 px-4 py-2 d-flex justify-content-center align-items-center btn rounded', buttonClasses]"
    (click)="handleClick()"
    [class.btn-sm]="size === 'small'"
    [class.btn-lg]="size === 'large'"
  >
    <div class="flex items-center justify-center relative">
      @if (state === 'loading') {
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      } @else if (state === 'success') {
        <svg xmlns="http://www.w3.org/2000/svg" class="state-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
        </svg>
      } @else if (state === 'error') {
        <svg xmlns="http://www.w3.org/2000/svg" class="state-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
        </svg>
      } @else {
        <ng-content />
      }
    </div>
  </button>

  @if (localErrorMessage) {
    <span class="mt-2 d-block text-sm text-danger text-center">
      {{ localErrorMessage }}
    </span>
  }
</div>
